<%= render :partial => 'navbar' %>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p style="font-size:40px; text-align:center;"><b>ㅜㅜ정말 지우실 꺼에요?</b></p>
            <form action="/main/prj_dconfirm/<%= @one_prj.id %>" method="POST">
                ={$$$$$$$$$$$$$}= <input type="text" name="user_dmail" placeholder="계정의 Email을 입력하세요" style="margin-top:15px; margin-bottom:15px; width:50%; height:30px;"> ={$$$$$$$$$$$$$}=
                ={$$$$$$$$$$$$$}= <input type="password" name="user_dpassword" placeholder="계정의 비밀번호를 입력하세요" style="margin-top:15px; margin-bottom:15px; width:50%; height:30px;"> ={$$$$$$$$$$$$$}=
                ={$$$$$$$$$$$$$}= <input type="hidden" name="user_id" value="<%= session[:user_id] %>" style="margin-top:15px; margin-bottom:15px; width:50%; height:30px;"> ={$$$$$$$$$$$$$}=
                <input type="submit" value="삭제하겠습니다" style="margin-top:15px; margin-bottom:15px; width:100%; height:30px;">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<%= render :partial => 'style/my' %>