<%= render :partial => 'navbar' %>
<div class="row">
    <div class="col-md-9">
        <%= render :partial => 'search_result' %>
    </div>
    <div class="col-md-3">
        <%= render :partial => 'sidewidget' %>
    </div>
</div>