<div class="row">
    <div class="well well-out">
        <!--h4>Search</h4-->
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            </div>
            <!-- /.input-group -->
        </div>
            
        
        <div class="well well-out">
            <h3><b>관리 메뉴</b></h3>
            <table>
                <tbody align="left">
                    <tr><td><a href="/admin/index?admin=sampleboard">Sample_board</a></td></tr>
                    <tr><td><a href="/admin/index?admin=board">게시판관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=navbar">navbar관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=menu">menu관리</a></td></tr>
                    <tr><td><a href="/admin/index?admin=user">회원관리</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>