<!DOCTYPE html>
<html>
<head>
  <title>모두의 LION</title>
  <link rel="SHORTCUT ICON" href="https://d30y9cdsu7xlg0.cloudfront.net/png/132817-200.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#FAFAFA;">
    
<%= yield %>
</div>
<hr>
<!-- FOOTER -->
  <footer class="footer">
    <p class="pull-right"><a href="#" style="color:black; padding-right:30px;"><b>Top</b></a></p>        
    <center><p>&copy; 2015 YongHyun Kim | 재철이는 코끼리를타고 | Univ. Dongguk | 3rd of likelion. &middot; <a href="http://class.likelion.net" style="color:black;"><b>CLASS LION</b></a> &middot; <a href="http://stack.likelion.net" style="color:black;"><b>STACK LION</b></a></p></center>
  </footer>

</div><!-- /.container -->


</body>
</html>
